* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("../images/background2.jpg");
    background-color: #cccccc;
    background-size: cover;
}

.section-images {
    height: 100%;
    margin: 0;
}

.section-images {
    margin: auto 2em;
    text-align: center;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
}


/* Header/Categories */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.header h2 {
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    float: inside;
}

/* Sticky navbar */
.navbar {
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-left: 0;
    text-align: center;
    width: 100%;

}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar a.right {
    float: none;
}

.navbar a.top {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    cursor: pointer;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #333;
    color: white;
}

.centerbox {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: 70%;
    float: inside;
}

/* Image */
.img {
    width: 100%;
    padding: 0;
    max-width: 100%;
    height: auto;"
}

/* Header menu*/
.td-header-menu {
    max-width: 1200px !important;
    width: auto !important;
}

.list {
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.black {
    background-color: #f1f1f1;
    color: black;
    text-decoration: none;
}

/* Footer */
.footer {
    padding: 3px;
    text-align: center;
    background: #333;
}